body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff; /* Fond blanc */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 10vw); /* Ajuste la taille en fonction de la largeur de la fenêtre */
    color: #000; /* Texte noir */
    text-shadow: none;
    max-width: 100vw;
    overflow: hidden;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 3vw); /* Taille plus petite pour la date */
    color: #000;
}
