body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; /* Fond blanc */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(30px, 15vw, 150px); /* Redimensionne entre 30px et 150px selon la taille de la fenêtre */
    color: #000; /* Texte noir */
    text-shadow: none; /* Pas d'ombre sur le texte */
}
